<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291226983840-rfeuccohi4f8ulbaqhmvq1v6rc939grt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291226983840-rfeuccohi4f8ulbaqhmvq1v6rc939grt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>291226983840-feuiubhtjvsobnjm3oahn0chtajgo006.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2WzZ9h_jOacuEKFSP-znHHcJqEdAuws4</string>
	<key>GCM_SENDER_ID</key>
	<string>291226983840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.compounders</string>
	<key>PROJECT_ID</key>
	<string>boost-ballistics</string>
	<key>STORAGE_BUCKET</key>
	<string>boost-ballistics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291226983840:ios:9f6b18f1041515be72d8c5</string>
</dict>
</plist>